.fs12 {
    font-size: 0.12rem;
}
.fs14 {
    font-size: 0.14rem;
}
.fs16 {
    font-size: 0.16rem;
}
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.picCodeRow2, #smsForm, #downForm, #subBtn, .cont, .showPw {
    display: none;
}
.tenWrap{
    text-align: center;
    padding-bottom: 0.10rem;
}
.tenWrap .tenContent{
    padding:0.2rem 0.12rem;
}

.registerWrap .registerForm .formRow{
    height: 0.4rem;
    margin-bottom: 0.1rem;
}
.registerWrap .registerForm input{
    font-size: 0.15rem;
    width:100%;
    height: 100%;
    padding-left: 0.22rem;
    border: 1px solid #E33133;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: lighter;
    border-radius: 0.04rem;
    color: #FF918C;
}
.registerWrap .registerForm input::-webkit-input-placeholder{
    color: #FF918C;
}
.registerWrap .registerForm input::-moz-placeholder{
    color: #FF918C;
}
.registerWrap .registerForm input:-ms-input-placeholder{
    color: #FF918C;
}
.registerWrap .registerForm .smsInp{
    width:1.98rem;
}
.registerWrap .registerForm .picCode{
    width: 0.93rem;
    height: 100%;
    border: 1px solid #C68300;
    border-radius: 0.06rem;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.registerWrap .registerForm .picCode img{
    height: 100%;
}
.registerWrap .registerForm .errorTip{
    color:#fff;
    font-size: 0.14rem;
    margin-bottom: 0.10rem;
}
.registerWrap .registerForm .agreeRow{
    text-align: center;
    color: #F6CD37;
}
.registerWrap .registerForm .agreeRow a{
    color: #F6CD37;
}
.registerWrap .registerForm .button{
    width:100%;
    background: #F5DB63;
    box-shadow: 0 0.04rem #BB2123;
    border: 0;
    border-radius: 1rem;
    font-size: 0.15rem;
    color: #E33133;
}
.registerWrap .registerForm .getBtn{
    height: 0.36rem;
    line-height: 0.36rem;
    margin-top: 0.1rem;
    display: block;
}
.registerWrap .smsForm .sendSms {
    border: none;
}
.registerWrap .registerForm .sendCode{
    color: #fff;
    background: #E33133;
    height: 100%;
    line-height: 0.40rem;
    font-size: 0.15rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: none;
    border-radius: 0.06rem;
}
.registerWrap .smsForm .noticeRow{
    color: #C68300;
    font-size: 0.15rem;
    line-height: 0.22rem;
    margin-bottom: 0.1rem;
}
.registerWrap .smsForm .noticeRow .changeTel{
    width:0.4rem;
    height:0.2rem;
    line-height: 0.2rem;
    color:#FF3947;
    font-size: 0.15rem;
    display: inline-block;
    text-align: center;
    border: 2px solid #FF3947;
    border-radius: 0.04rem;
}

.tenProducts {
    padding-bottom: 0.20rem;
}
.tenProducts h2 {
    width: 2.65rem;
    margin: 0 auto;
}

.tenWrap .tenTime{
    padding:0.12rem;
    padding-top: 0;
    position: relative;
}
.tenWrap .tenTime h2{
    width:1.37rem;
    height:0.20rem;
    margin: 0 auto 0.15rem;
    position: relative;
}
.tenWrap .tenTime h2:before,
.tenWrap .tenTime h2:after {
    content: '';
    position: absolute;
    top: 0.08rem;
    width: 0.48rem;
    height: 1px;
    background: #F6CD37;
}
.tenWrap .tenTime h2:before {
    left: -0.60rem;
}
.tenWrap .tenTime h2:after {
    right: -0.60rem;
}
.tenWrap .tenRule{
    border-radius: 0.06rem;
    overflow: hidden;
    background: #E33133 url(../images/line.png) no-repeat center top;
    -webkit-background-size: 2.74rem;
    background-size: 2.74rem;
    padding:0.25rem 0.12rem 0.1rem;
    color: #fff;
}
.tenWrap .tenRule li{
    position: relative;
    padding-left: 0.12rem;
    margin-bottom: 0.10rem;
}
.tenWrap .tenRule li:before{
    content: '';
    position: absolute;
    width:0.05rem;
    height:0.05rem;
    background: #FFD109;
    border-radius: 50%;
    left: 0;
    top: 0.06rem;
}
.tenWrap .tenRule .tenRuleInfo{
    text-align: left;
    line-height: 0.2rem;
    font-size: 0.12rem;
}

.tenWrap .tenReward{
    margin-top: 0.12rem;
    font-size: 0.12rem;
    color:#fff;
    line-height: 0.2rem;
    background: url(../images/hua.png) no-repeat center 0.06rem;
    -webkit-background-size: 0.35rem;
    background-size: 0.35rem;
    display: inline-block;
    padding-top: 0.50rem;
}
.company-info p{
    color: #fff;
    padding-bottom: 0.06rem;
}
.company-info .notice{
    color: #E33133;
}
.company-info .about img {
    width: 2.78rem;
    margin: 0 auto;
}

.topBar{
    width:100%;
    height: 0.40rem;
    line-height: 0.4rem;
    background: #fff;
    color: #666666;
    font-size: 0.12rem;
    max-width: 640px;
}
.topBar .logo{
    width:0.62rem;
    padding:0.08rem 0.1rem 0 0.12rem;
    display: inline-block;
    vertical-align: top;
}
/* 产品 */
.product-list {
    padding: 0.10rem 0.12rem 0;
    color: #F65D56;
}
.product-item {
    position: relative;
    background: #fff;
    border-radius: 0.06rem;
    border: 1px dashed #004B72;
    margin-bottom: 0.25rem;
}
.product-title {
    padding: 0.06rem 0.15rem;
    background: #004B72;
    border-radius: 1rem;
    position: absolute;
    left: 0.18rem;
    top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.product-title img {
    width: 0.46rem;
}
.last-item .product-title img {
    width: 0.60rem;
}
.product-info {
    padding: 0.24rem 0.10rem 0.10rem;
}
.product-info .product-desc:not(:first-of-type) {
    padding-top: 0.17rem;
}

.product-desc {
    width: 33.3333333%;
    float: left;
    position: relative;
}
.product-info .line-desc:before,
.product-info .line-desc:after {
    content: '';
    width: 1px;
    height: 0.28rem;
    background: #F65D56;
    position: absolute;
    bottom: 0.04rem;
    left: 0;
}
.product-info .line-desc:after {
    height: 0.10rem;
    right: 0;
    left: auto;
}
.last-item .line-desc:after {
    right: -0.06rem;
}
.last-item .line-desc:before {
    left: -0.02rem;
}

.product-desc .fs16 {
    height: 0.16rem;
    padding-bottom: 0.04rem;
    font-weight: normal;
}
.product-tip {
    position: absolute;
    right: -1px;
    top: -1px;
    background: #E33133;
    color: #fff;
    padding: 0.03rem 0.06rem 0.03rem 0.16rem;
    height: 0.14rem;
    line-height: 0.14rem;
    border-top-right-radius: 0.06rem;
}
.product-tip:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0.11rem solid transparent;
    border-left-color: #fff;
}
/* dialog */
.dialog-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.dialog {
    width: 2.4rem;
    height: 1.10rem;
    border-radius: 0.04rem;
    background: #FFE8E8;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dialog-cont {
    color: #F65D56;
    font-size: 0.16rem;
    padding: 0.20rem 0;
}
.dialog-btn {
    padding: 0 0.14rem;
    height: 0.30rem;
    line-height: 0.30rem;
    background: #F65D56;
    color: #FFE8E8;
    display: inline-block;
    margin: 0 auto;
    border-radius: 1rem;
}
/* 显示密码 */
#pwdRow {
    position: relative;
}
.pw-status {
    width: 0.15rem;
    height: 0.15rem;
    position: absolute;
    right: 0.15rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.receive-bag {
    width: 2.97rem;
    height: 3.17rem;
    background: url(../images/red-bag.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    color: #fff;
}
.receive-bag .pos-a {
    left: 0;
    right: 0;
    margin: auto;
}
.receive-tip1 {
    top: 0.76rem;
    color: #FC8D00;
    font-size: 0.15rem;
}
.receive-tip2 {
    top: 1.25rem;
    color: #EA4C3C;
    font-size: 0.28rem;
}
.receive-tip3 {
    top: 1.70rem;
    color: #FCBA4E;
}
.receive-bag .getBtn {
    bottom: 0.30rem;
    width: 2.75rem !important;
}
